<p><strong>Autor</strong></p>
<img src="https://scontent-mad1-1.xx.fbcdn.net/hphotos-xtf1/v/t1.0-9/11745942_10206796833817552_7902077267358475516_n.jpg?oh=820ec0c1d01f9add7960c804cd93989a&oe=565521D2" width="20%"/>
<p><%= autor %></p>
