<p>
	<form method="get" action="/quizes<%= quiz.id &>/answer">
		<p>Pregunta: <strong><%= quiz.pregunta %></strong></p>
		<input type="text" name="respuesta" placeholder="Responda aquí"/>
		<input type="submit" value="Enviar"/>
	</form>
</p>
